# dependencies
/node_modules
/.pnp
.pnp.js
package-lock.json

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


data/*
deploy/.env
#AI stuff
.cursorrules
GEMINI.md

# Sync scripts
sync-github.sh
GITHUB_SYNC_WORKFLOW.md
.last_github_sync
sync-from-github.sh
test-data/*
.vscode/
deploy/backups/*
scripts/*